/*
 * Overwrite bootstrap
 */
body {
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  line-height: 1.8;
}
h1.header_site_ttl {
  margin-top: 0;
}
form.wpcf7-form dt {
  font-weight: normal;
}

/*
 * Overwrite reset
 */
form.wpcf7-form button, input, select, textarea {
  border: solid 1px #999;
}
form.wpcf7-form input[type="file"] {
    border: none;
}

/*
 * Custom
 */
@media all and (min-width: 897px) {
  form.wpcf7-form {
    width: 1000px;
    margin: 0 auto;
  }
}
@media all and (min-width: 0px) and (max-width: 896px) {
  form.wpcf7-form button, input, select, textarea {
    max-width: 100%;
  }
  span.wpcf7-list-item {
    display: block;
  }
}
form.wpcf7-form dt,
form.wpcf7-form dd {
  margin-bottom: 1em;
}
input.wpcf7-submit {
  padding: .5em 2em;
  margin-top: 40px;
}
@media (min-width: 768px) {
  input.wpcf7-submit {
      margin-left: 180px;
  }
}
